.product-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .product-detail-title {
    min-width: 40vw;
  }
  .product-detail-div {
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
    .product-detail-image-div {
      min-width: 40vw;
      border: 1px solid black;
      border-bottom: 0;
      display: flex;
      justify-content: center;
      padding: 1vw 0;
      .product-detail-image {
        max-height: 30vh;
        min-height: 30vh;
      }
    }
    .product-detail-info-div {
      min-width: 40vw;
      .detail-table {
        padding: 1vh 0;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        min-width: 40vw;
        .detail-row {
          display: flex;
          justify-content: center;
          width: 100%;
          .detail-label {
            width: 40%;
            text-align: right;
            font-weight: bold;
            padding-right: 5px;
          }
          .detail-value {
            width: 60%;
          }
        }
      }
    }
  }
}
