.put-form-div {
  display: flex;
  .put-form {
    border: 1px solid black;
  }
  .preview-image-div {
    border: 1px solid black;
    border-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding: 2vh;
    width: 30vh;
    .preview-image-title {
      width: 100%;
      font-weight: bold;
      margin-bottom: 3vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .preview-image-frame {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 15vh;
      img {
        height: 100%;
      }
    }
  }
}
