body {
  font-family: "Open Sans Condensed";
}

.page-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px 80px;
  // border: 1px solid black;

  .content {
    padding: 20px 20px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    min-height: 75vh;
  }
}
