.header-div {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.header a {
  margin: 0 10px;
}

.link {
  color: inherit;
  text-decoration: inherit;
  border: 1px solid black;
  padding: 2.5px 4px;
  background-color: white;
  color: black;
  font-weight: bold;
  opacity: 0.7;

  &:hover {
    color: white;
    background-color: black;
  }
}
