form {
  padding: 10px;

  fieldset {
    display: flex;
    justify-content: flex-end;
    border: none;
    margin: 0;
    padding: 3px 0;
  }

  label {
    padding: 0 3px;
  }

  .image-field {
    border: 1px solid black;
    font-family: "Open Sans Condensed";
  }

  .submit-area {
    display: flex;
    justify-content: flex-end;
    padding: 10px 5px;
    button {
      font-weight: bold;
      cursor: pointer;
    }
  }
}

/* https://stackoverflow.com/questions/1537223/change-cursor-type-on-input-type-file */
input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button {
  /* chromes and blink button */
  cursor: pointer;
}
