.product-item {
  border: 1px solid black;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  max-width: 70vh;
  min-width: 70vh;

  .product-detail-link {
    color: inherit;
    text-decoration: inherit;
    display: flex;
    flex-direction: row;
    width: 80%;
    &:hover {
      cursor: pointer;
    }
    .product-image-div {
      min-height: 96px;
      min-width: 96px;
      max-height: 96px;
      max-width: 96px;
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      .product-image {
        max-height: 80px;
        max-width: 80px;
        padding: 5px;
      }
    }

    .product-title-div {
      padding: 16px;
      padding-left: 0;
      width: 80%;
      .product-title {
        font-weight: bold;
        border-bottom: 1px solid black;
      }
    }
  }

  .product-acquired {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    .product-acquired-checkbox {
      input {
        vertical-align: middle;
      }
      label {
        padding-left: 2px;
        font-size: small;
        vertical-align: middle;
      }
    }
  }

  .product-remove-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin-left: 20px;
    &:hover {
      background-color: lightcoral;
      cursor: pointer;
    }
    .product-remove {
      max-width: 35%;
      max-height: 35%;
    }
    background-color: lightgray;
  }

  &:hover {
    box-shadow: 2px 2px 4px #000000;
  }
}

.acquired-true {
  opacity: 20%;
}
