.random-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .random-header {
    font-weight: bold;
  }

  .random-button-container {
    width: 100%;
    border-top: 1px solid black;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    button {
      font-weight: bold;
    }
  }
}
