.wishlist-page {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 25px;

  .left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;

    .form-area {
      border: 1px solid black;

      .form-title {
        padding: 0 10px;
        text-align: center;
        border-bottom: 1px solid black;
      }

      &:hover {
        box-shadow: 2px 2px 4px #000000;
      }
    }

    .random-selector-area {
      width: 100%;
      margin-top: 25px;
      border: 1px solid black;

      &:hover {
        box-shadow: 2px 2px 4px #000000;
      }
    }
  }

  .wishlist {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
  }
}
