.signin-form-div {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .signin-form-header {
    border: 1px solid black;
    border-bottom: 0;
    display: flex;
    justify-content: center;
  }

  .signin-form {
    border: 1px solid black;
    padding: 20px 10px;

    .submit-area {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .submit-message {
        color: red;

        background-color: lightgreen;
      }
      .submit-button {
        margin-top: 1vh;
      }
    }
  }
}
