.signup-form-div {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .signup-form-header {
    border: 1px solid black;
    border-bottom: 0;
    display: flex;
    justify-content: center;
  }

  .signup-form {
    border: 1px solid black;
    padding: 20px 10px;

    .submit-area {
      display: flex;
      justify-content: flex-end;
    }
  }
}
